div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: 400px;
    position: relative;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery .imagenes {
    width: 100%;
    height: auto;
    height: 250px;
}

div.desc {
    padding: 7px;
    text-align: left;
}
.eliminar{
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}