

/*Estilo de los tooltips del sistema*/
.toltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.toltip .toltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2d3e50;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 111;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.toltip .toltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.toltip:hover .toltiptext {
    visibility: visible;
    opacity: 1;
}

/*Color de las etiquetas del menu*/
.colMen{
    color:#A9A9F5 !important;   
}
/*Color del icono del menu principal*/
.colMen2{
    color:rgb(98, 98, 201) !important;
}
/*Color de los botones del menu*/
.card{
   background-color: #030303 !important;
   border: 0.5px solid #0D0D0D !important;
}
.card-body{
    background-color: #fff !important;
    border-style: ridge !important;
}
/*Color y forma del menu superior*/
#menVar{
        background-color: #000 !important;
        border-radius: 0px;
    }
/*Estilo del menu vertical*/
.menu{
    position: fixed;
    top: 63px;
    /*Es el minimo que reduce al dar click*/
    width: 240px;
    /*Para que ocupe toda la pantalla en lo alto*/
    height: 100%;
    /*color del fondo del menu*/
    background: #000;
    /*Para que el cambio no sea tan brusco*/
    transition: all 500ms cubic-bezier(1,0,0,1);
    /*Para cambiar la animacion cambiamos el ultimo numero*/
    transition-timing-function: cubic-bezier(1,0,0,2);
    /*para que no se vean las letras fuera del menu*/
    overflow: hidden;
    /* Agregamos un scroll a nuestro menu */
    /*overflow: scroll;*/
    /*Ocultamos el scroll horizontal */
    /*overflow-x: hidden;*/
    /*Para mantener siempre por encima*/
    z-index: 10;
}

/*Css de el area del contenido del sistema
#contenido{
    background: #fff;   
    box-shadow: 4px 4px 10px #000;
    
}*/


/*Pie de pagina*/
footer{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    padding: 15px;    
}


/*Css del pie de pagina*/
footer div p{
   align-content: center;
}
 
