

/*Estilo de los tooltips del sistema*/
.toltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.toltip .toltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2d3e50;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 111;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.toltip .toltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.toltip:hover .toltiptext {
    visibility: visible;
    opacity: 1;
}

/*Color de las etiquetas del menu*/
.colMen{
    color:#fff !important;   
}
/*Color del icono del menu principal*/
.colMen2{
    color:#000 !important;
}
/*Color del texto de los submenu*/
.colTxtSub{
    color: #000 !important;
}
/*Color de los botones del menu*/
.card{
   background-color: rgb(21, 22, 22) !important;
   border-style: ridge !important;
   border-radius: 3px !important;
   border-color: black !important;
}
/*Color al pasar sobre el menu*/
.card:hover{
    background-color: #000 !important;
    opacity:0.9 !important;
}
/*Color al pasar sobre el submenu*/
.card-body:hover{
    background-color: #fff !important;
    opacity:0.9 !important;
}
/*Color de fondo de los submenus*/
.card-body{
    background-color: #fff !important;
    border-style: ridge !important;  
    border-radius: 3px !important;  
}
/*Color y forma del menu superior*/
#menVar{
        background-color: #000 !important;
        border-radius: 0px;
    }

/*Estilo del menu vertical*/
.menu{
    position: fixed;
    width: 280px;
    top: 60px;
    /*Para que ocupe toda la pantalla en lo alto*/
    bottom: 40px;
    /*color del fondo del menu*/
    background: #000;    
    /*Para mantener siempre por encima*/
    z-index: 10;
}

/*Css de el area del contenido del sistema
#contenido{
    background: #fff;   
    box-shadow: 4px 4px 10px #000;
    
}*/

#footer{
    background-color:#000;
    width: 100%;
    color: #fff;
    bottom: 0;
    text-align: center;
    height: 40px;
    position: fixed;
    z-index: 10;
}
