.tabs {
    position: relative;
	margin: 10px auto;
	width: 820px;
}
.tabss {
    position: relative;
	margin: 10px auto;
	width: 700px;
}

.tabs label {		
	height: 30px;
	position: relative;
	padding: 0 20;
    float: left;
	display: block;
	width: 350px;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,128,192,0.5);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
    
}

.tabs label:after {
    contenedor: '';
    background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + label {
	background: #4da6ff;
	text-shadow: 2px 2px 2px rgba(256,256,256,0.5);
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
    
}

.tab-label-2 {
    z-index: 3;
    
}

.tab-label-3 {
    z-index: 2;

}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background:#fff;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.contenedor { 
	position: relative;
    width: 100%;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.contenedor div {
	position: absolute;
	top: 4px;
	left: 12px;
	padding: 10px 40px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity linear 0.1s;
	-moz-transition: opacity linear 0.1s;
	-o-transition: opacity linear 0.1s;
	-ms-transition: opacity linear 0.1s;
	transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .contenedor .contenedor-1,
.tabs input.tab-selector-2:checked ~ .contenedor .contenedor-2,
.tabs input.tab-selector-3:checked ~ .contenedor .contenedor-3,
.tabs input.tab-selector-4:checked ~ .contenedor .contenedor-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.contenedor div h2,
.contenedor div h3{
	color: #398080;
}
.contenedor-1,.contenedor-2,
.contenedor-3,.contenedor-4{
	border: groove;
	border-color: #003366;
}
.contenedor div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}
.tabs fieldset {
	border: groove;
	border-color: #003366;
	font-size: 16px;
	font-family: Cambria, Georgia, serif;

}
.tabs legend{
	font-weight: bold;
	font-size: 17px;
	color: #101010;

}

.fielset b{
	background: #fff;
	font-size: 16px;
	font-family: Cambria, Georgia, serif;	
}
body{
	background:#555 url(../images/fondoo.jpg) repeat top left;
	color:#000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:12px;
	overflow-y:scroll;
}

a{
	color:#f0f0f0;
	text-decoration:none;
}

.topbar{
	position:relative;
	width:100%;
	height:25px;
	line-height:24px;
	bottom:0;
	font-size:13px;
	background:#000;
	opacity:0.7;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	z-index:4;
}
.topbar a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	text-align:right;
}
.topbar a:hover{
	color:#fff;
}
.topbar a span{
	font-weight:bold;
}
.topbar span.right_ab{
	position:absolute;
	right:4px;
}
.container {
	width:100%;
	margin:0 auto;
}
.content{
	width:100%;
	position:relative;
	margin:0px 0 0 0;
	clear:both;
}
input, select {
	padding:4px;
 	border:solid 1px #000;
 	border-radius:5px;
 	font-size: 18px;

}
input:focus,input:focus{
 box-shadow:0 0 30px #66b3ff;
 }

 textarea{
 	resize: initial;
 	padding:4px;
 	border:solid 1px #000;
 	border-radius:5px;
 	border: 1px solid grey;
  	
 }

input[type="checkbox"] {
    display:inline-block;
    width: 18px;
    height: 18px;
}
input[type="radio"] {
    display:inline-block;
    width: 18px;
    height: 18px;
}
ba{
	color: #000;
	font-size: 19px;
	font-weight: bold;
	text-shadow: -2px -2px 1px rgba(0,128,192,0.5), 2px 2px 1px rgba(0,128,192,0.5), -2px 2px 1px rgba(0,128,192,0.5), 2px -2px 1px rgba(0,128,192,0.5);
	font-family: "Tahoma";
}
stroke {
	text-align:justify; 
	color: #000;
	/*background: #DA251D;*/
	font-family: "Tahoma";
	font-size: 22px;
	line-height: 70%;
	text-shadow: -1px -1px 0px #FFF, 1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px 1px 0px #FFF;
}
stroke-2 {

color: #000;
/*background: #DA251D;*/
font-family: "Tahoma";
font-size: 22px;


}
input[type=text]:disabled,
button[type=submit]:disabled,
input[type=checkbox]:disabled,
input[type=radio]:disabled,
:disabled{
  background-color: #ddd;
  color: grey;
  border: 1px solid grey;
  cursor: not-allowed;
}

input[type=number]{
	width: 4em;
}
p{
	font-size: 18px;
	font-family: "Tahoma";
	font-weight: bold;
	color: #000;
}
pp{
	font-size: 18px;
	font-family: "Tahoma";
	font-weight: bold;
	color: #000;
}
ppp{
	font-size: 18px;
	font-family: "Tahoma";
	
	color: #000;
}
folio{
	font-size: 30px;
	font-family: "Tahoma";
	font-weight: bold;
	color: #000;
}
input[type=submit] {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

input[type=submit]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}